<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
  <h3 style="color: white">Đang tải...</h3>
</ngx-spinner>

<app-nav></app-nav>

<div class="container">
  <router-outlet></router-outlet>

  <footer class="py-3">
    <div class="d-flex justify-content-between py-3 my-3 border-top">
      <p>© 2021 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a class="link-dark" href="#">
            <svg class="bi" width="24" height="24">
              <use xlink:href="#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="#">
            <svg class="bi" width="24" height="24">
              <use xlink:href="#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="#">
            <svg class="bi" width="24" height="24">
              <use xlink:href="#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</div>