<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6">
        <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
            <h2 class="text-center">Đăng nhập</h2>
            <hr>
            <ng-container *ngIf="validationErrors">
                <div class="row mt-2">
                    <ul class="text-danger">
                        <ng-container *ngFor="let error of validationErrors">
                            <li>{{error}}</li>
                        </ng-container>
                    </ul>
                </div>
            </ng-container>

            <div class="mb-2">
                <label class="form-label">Tên đăng nhập</label>
                <input type="text" name="username" [(ngModel)]="loginLocalUserDto.userName"
                    class="form-control me-2">
            </div>

            <div class="mb-2">
                <label class="form-label">Mật khẩu</label>
                <input name="password" [(ngModel)]="loginLocalUserDto.password"
                    class="form-control me-2" type="password">
            </div>

            <div class="mb-2 text-center">
                <button type="submit" class="btn btn-success me-2">Đăng nhập</button>
                <button class="btn btn-danger" type="button" routerLink="/">Hủy</button>
            </div>
            <div class="text-center">
                <p>Chưa có tài khoản? <a class="text-info" routerLink="/register">Đăng ký</a> ngay!</p>
            </div>
        </form>
    </div>
</div>